# This is an example Systemd service file
# You must edit this file before installing it to /etc/systemd/system
[Unit]
Description=Run proxpf after network becomes reachable
After=network.target

[Service]
Type=oneshot
RemainAFterExit=yes
WorkingDirectory=/path/to/proxpf/install
ExecStart=/usr/bin/env poetry run python proxpf.py

[Install]
WantedBy=default.target